body {
  border: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #eee url('../images/bg.png');
  color: #555;
}

.wrapper {
  width: 900px;
  margin: 20px auto;
}

.logo {
  width: 600px;
  margin: auto;
}

.content {
  border-top: 5px solid #29abe2;
  background: #efefef;
  -webkit-box-shadow: 0 0 3px #bbb;
  box-shadow: 0 0 3px #bbb;
}
#phpFrame {
  border-top: 5px solid #29abe2;
  background: #efefef;
  -webkit-box-shadow: 0 0 3px #bbb;
  box-shadow: 0 0 3px #bbb;
}
.button{
    float:right;
    margin:-10px 10px 0px 0px;
}
.button a {
    background: #29abe2; /* Old browsers */
    background: -moz-linear-gradient(top,  #29abe2 0%, #2990e2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#29abe2), color-stop(100%,#2990e2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #29abe2 0%,#2990e2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #29abe2 0%,#2990e2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #29abe2 0%,#2990e2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #29abe2 0%,#2990e2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29abe2', endColorstr='#2990e2',GradientType=0 ); /* IE6-9 */
  border: solid 2px #ededed;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  color: #efefef;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-transition: all 0.8s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.8s ease-in-out;  /* Firefox 4-15 */
  -o-transition: all 0.8s ease-in-out;  /* Opera 10.50–12.00 */
  transition: all 0.8s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.button a:hover {
    background: #1b75bc;
    border: solid 2px #2990e2;
    -webkit-box-shadow: 0 0 5px #efefef;
    box-shadow: 0 0 5px #efefef;
}
.left-menu ul {
    list-style: none;
    margin: -3px 0px 0px -43px;
    display: block;
}
.left-menu ul li {
    display:block;
    background: #ededed;
    text-decoration:none;
    border-bottom: 2px solid #ddd;
    border-right: 1px solid #ddd;
    width:250px;
    padding: 10px;
    color: #2990e2;
    -webkit-transition: all 0.8s ease-in-out;  /* Chrome 1-25, Safari 3.2+ */
    -moz-transition: all 0.8s ease-in-out;  /* Firefox 4-15 */
    -o-transition: all 0.8s ease-in-out;  /* Opera 10.50–12.00 */
    transition: all 0.8s ease-in-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
#output {
    width:100%;
    padding:20px;
    font-family: monospace;
}
.da-table {
  background: #ddd;
}

.da-header td {
  background: #90A30C;
}

.da-folder td {
    background: #d1d6a8;
}

.da-folder td h4 {
  padding: 0px;
    margin:0px;
}

.da-file td {
  background: #efefef;
}